@font-face {
    font-family: 'ElectroHarmonix';
    src: url('fonts/electroharmonix.otf') format('opentype');
}


.mainTitle {
    font-family: ElectroHarmonix, "Century Gothic", sans-serif;
    text-align: center;
}

#shizumi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 25%;
    height: auto; /* Maintain the aspect ratio */
}