@font-face {
    font-family: 'ElectroHarmonix';
    src: url('fonts/electroharmonix.otf') format('opentype');
}

html {
    background-color: black;
}

.headerSection {
    border: 1px solid white;
    color: white;
    text-align: right;
    padding: 20px;
}

.headerSection a {
    margin: 0 24px;
}


.mainTitle {
    font-family: ElectroHarmonix, "Century Gothic", sans-serif;
    text-align: center;
    color: white;
}

#shizumi {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    width: 25%;
    height: auto; /* Maintain the aspect ratio */
}

#year {
    margin-top: 4px;
}

#title {
    margin-bottom: 4px;
}